<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	id="org.apache.cordova.plugin.tts"
	version="0.2.1">
  
  <name>TTS</name>
  <description>Cordova TTS Plugin</description>
  <license>Apache 2.0</license>
  <keywords>cordova,tts</keywords>
  
  <js-module src="www/tts.js" name="tts">
    <clobbers target="navigator.tts" />
  </js-module>
  
  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="TTS">
	<param name="android-package" value="org.apache.cordova.plugin.TTS"/>
      </feature>
    </config-file>
    
    <source-file src="src/android/TTS.java" target-dir="src/org/apache/cordova/plugin/" />
    
  </platform>
  
  <!-- android -->
  <platform name="amazon-fireos">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="TTS">
	<param name="android-package" value="org.apache.cordova.plugin.TTS"/>
      </feature>
    </config-file>
    
    <source-file src="src/android/TTS.java" target-dir="src/org/apache/cordova/plugin/" />
    
  </platform>
</plugin>
